
<div class='container'>
	<h1><center>Welcome to Our E-shop</center></h1>
	<h2><center>You can find tools for your garden and your house</center></h2>

	<%#= params[:example_key].to_i*10 %>

	<center><%= image_tag('tools.jpg', class: 'img-responsive') %></center>

</div>


<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>


