
<div class='container'>
	<h1><center>Welcome to Our E-shop</center></h1>
	<h2><center>You can find tools for your garden and your house</center></h2>

	<center><%= image_tag('gloves.jpg', class: 'img-responsive') %></center>
</div>


<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>


