<h1>Welcome to Our E-shop</h1>
<h2>You can find tools for your garden and your house</h2>

<%= image_tag('tools.jpg', class: 'img-responsive') %>



<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>


