// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.content_height {
	margin-top: 60px;
}

.comments {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.product-show{
  padding-bottom: 60px;
}

.form-control{
	max-width: 330px;
  margin-bottom: 10px;

}

.btn{
  margin-bottom: 20px;
}
