// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	background-color: #990099;
	height: 60px;
}

.nav a {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 1.5em;
}

.carousel-inner > .item > img {
	margin: 0 auto;
	margin-top: 60px;
    height: none;
}

.carousel-caption {
	margin-left: 450px;
	color: black;
}

.collapsing, .in {
	background-color: #f5d6eb;
}

.container {
	margin-top: 60px;
	height: 200px;
}

.footer_position {
	float: right;
	margin-top: 300px;
}


