<div class='container-fluid'>
<br>
<br>

  <p id="notice"><%= notice %></p>

  <p><h1>Listing Products</h1></p>

  <div class='row'>
  	
    
    <%= render @products %>
    	
    
  </div>
  

<br>

<p><%= link_to 'New Product', new_product_path %></p>

</div>
