<p id="notice"><%= notice %></p>
<div class='container-fluid'>

  <p><h1>Listing Products</h1></p>

  <div class='row'>
  	
    <% cache(cache_key_for_products) do %>
    	<%= render @products %>
    <% end %>
   
    
  </div>
  

<br>

<p><%= link_to 'New Product', new_product_path %></p>

</div>
